div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.questions {
    font-size: 30px;
  }
.col-question {
  flex-direction: column;
}
.question-container
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-primary, .btn-secondary {
    background-color: #0093d3 !important;
    border: #0093d3 !important;
    font-size: 1.75rem !important;
}
.btn-secondary {
  background-color: #808080 !important;
  border: #808080  !important;
  font-size: 1.75rem !important;
}


.app-container {
  border: 2px solid #A9A9A9;
  border-radius: 10% 10% / 10% 10%;
  box-sizing: border-box; 
  padding: 80px; 
  align-items: center;
  min-height: 100vh;  
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; 
}

@keyframes moveUpFade {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.fade-move-up {
    animation: moveUpFade 1s ease-in-out;
  }

.back-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  
.back-button img {
    margin-right: 10px;
  }